<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/site.css" />
    <title>@ViewData["Title"] - Git demo</title>
</head>
<body>
    <div class="body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>Git demo</p>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>