body {
    background-color: #e7daff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    font-size: 10px;
    text-align: center;
    padding-top: 50px;
}

hr {
    background-color: #000;
    height: 2px;
    border: none;
}

.body-content {
    padding: 50px;
    text-align: center;
}